@model FmDraft.Models.ViewModel.PickingViewModel

@{
    ViewBag.Title = "Picking";
}

<h2>Picking</h2>

<div class="btn-group col-sm-4">
    <button>Apple</button>
    <button>Samsung</button>
    <button>Sony</button>
</div>

<div class="btn-group col-sm-4">
    <button>Apple</button>
    <button>Samsung</button>
    <button>Sony</button>
</div>
